<footer style="margin-top:2rem">
    <div class="container">
        <div class="row">
        <div class="col-md-4 ok"><ul>
            <h3><a href="#" style="color: rgb(247, 234, 234);">NIT Arunachal Pradesh</a> <br></h3>

            <li style="color: rgb(247, 234, 234);">Jote, District: Papum Pare<br></li>

            <li style="color: rgb(247, 234, 234);">Arunachal pradesh-791113<br></li>
        </ul></div>
        <div class="col-md-4 ok" ><ul>
            <h3> <a href="#" style="color: rgb(239, 230, 230);">ACADEMICS</a></h3><br>
            <li><a href="#" style="color: rgb(218, 203, 203);">Scholarship<br></a></li>
            <li><a href="#" style="color: rgb(233, 221, 221);">Construction activity at Permanent Campus<br></a>
            </li>
            <li><a href="#" style="color: rgb(235, 214, 214);">Digital Initiatives by MHRD<br></a></li>
            <li> <a href="#" style="color: rgb(240, 234, 234);">Faculty Login</a></li>
            <li> <a href="#" style="color: rgb(230, 218, 218);">National Academic Depository (NAD)</a></li>
            <li> <a href="#" style="color: rgb(228, 220, 220);">NIT Moodle</a></li>

        </ul></div>
        <div class="col-md-4 ok" ><ul>
            <h3> <a href="#" style="color: rgb(239, 230, 230);">QUICKS LINKS</a></h3><br>
            <li><a href="#" style="color: rgb(218, 203, 203);">Civil Engineering Student Society<br></a></li>
            <li><a href="#" style="color: rgb(233, 221, 221);">Electrical Engineering Student Society<br></a></li>
            <li><a href="#" style="color: rgb(235, 214, 214);">Electronics & Communication<br></a></li>
            <li> <a href="#" style="color: rgb(240, 234, 234);">Engineering Student Society</a></li>
            <li> <a href="#" style="color: rgb(230, 218, 218);">Mechanical Engineering Student Society</a></li>
            <li> <a href="#" style="color: rgb(228, 220, 220);">National Service Scheme(NSS)</a></li>
            <li> <a href="#" style="color: rgb(228, 220, 220);">Student's Coding Club</a></li>
            <li> <a href="#" style="color: rgb(228, 220, 220);">Training & Placement</a></li>

        </ul></div>
        
        
        
    </div>
    </div>


</footer>