<nav id="nav">
       
    <ul id="navigation">

        <li><a href="/home" class="first" style="font-size: 1.15rem;">Home</a></li>
        <li><a href="#" style="font-size: 1.15rem;">The institute &raquo;</a>
            <ul>
                <li><a href="#">Establishment of NIT,Ap</a></li>
                <li><a href="#">The LOGO</a></li>
                <li><a href="#">Photo Gallery </a></li>
                <li><a href="#">Wordpress</a></li>
            </ul>
        </li>
        <li><a href="#" style="font-size: 1.15rem;">Academics &raquo;</a>
            <ul>
                <li><a href="#">Academic and examination Cell</a></li>
                <li><a href="#">Fee Structure</a></li>
                <li><a href="#">Academic Calender</a></li>
                <li><a href="#">Training and placement cell</a></li>
            </ul>
        </li>
        <li><a href="#" style="font-size: 1.15rem;">Administration &raquo;</a>
            <ul>
                <li><a href="#">Director</a></li>
                <li><a href="#">Office Of Deans</a></li>
                <li><a href="#">Registrar</a></li>
                <li><a href="#">Standing Committees</a></li>
                <li><a href="#">Standing Cell</a></li>
            </ul>
        </li>
        <li><a href="#" style="font-size: 1.15rem;">Department &raquo;</a>
            <ul>
                <li><a href="/department/BAS">Basic & Applied Science</a></li>
                <li><a href="/department/CHE">Chemical Engineering</a></li>
                <li><a href="/department/CE">Civil engineering</a></li>
                <li><a href="/department/CSE">Computer Science & Engineering</a></li>
                <li><a href="/department/EE">Electrical Engineering</a></li>
                <li><a href="/department/ECE">Electronics and communication Engineering</a></li>
                <li><a href="/department/ME">Mechanical Engineering</a></li>

            </ul>
        </li>
        <li><a href="#" style="font-size: 1.15rem;">Activities &raquo;</a>
            <ul>
                <li><a href="#">establishment of NIT,Ap</a></li>
                <li><a href="#">The LOGO</a></li>
                <li><a href="#">Photo Gallery</a></li>
            </ul>
        </li>
        <li><a href="#" class="last"  style="font-size: 1.15rem;">Facilities &raquo;</a>
            <ul>
                <li><a href="#">establishment of NIT,Ap</a></li>
                <li><a href="#">The LOGO</a></li>
                <li><a href="#">Photo Gallery</a></li>
            </ul>
        </li>
        
    </ul>
</nav>