<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous" />

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
    crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/navbar.css">
    <title>Faculty</title>

</head>
<body>
    <%-include('partials/header')%>
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <h1 class="m-4" style="font-size: x-large !important;">Syllabus for department</h1>
                <hr>
                <h2 class="m-4" style="font-size: large !important;">PHD</h2>
                <p class="m-4"><a href="#">syllabus for phd students (old)</a></p>
                <p class="m-4"><a href="#">syllabus for phd students (after covid)</a></p>
                <h2 class="m-4" style="font-size: large !important;">Mtech</h2>
                <p class="m-4"><a href="#">syllabus for mtech students (old)</a></p>
                <p class="m-4"><a href="#">syllabus for mtech students (after covid)</a></p>
                <h2 class="m-4" style="font-size: large !important;">Btech</h2>
                <p class="m-4"><a href="#">syllabus for btech students (old)</a></p>
                <p class="m-4"><a href="#">syllabus for btech students (after covid)</a></p>
            </div>
        </div>
    </div>
</body>
<%-include('partials/footer')%> 
</html>