<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GITA Verse</title>
</head>

<body>
    <h1>Bhagavad Gita, Chapter 2, Verse: 47</h1>
    <hr>
    The verse is —<br>
    कर्मण्येवाधिकारस्ते मा फलेषु कदाचन।<br>
    मा कर्मफलहेतुर्भूर्मा ते सङ्गोऽस्त्वकर्मणि॥ २-४७<br>
    <hr>
    Karmanye Vadhikaraste, Ma phaleshou kada chana - You have the right to perform your actions, but you are not
    entitled to the fruits of the actions. <br>
    Ma Karma Phala Hetur Bhurmatey Sangostva Akarmani – Do not let the fruit be the purpose of your actions, and
    therefore you won’t be attached to not doing your duty. <br>
    <img src="https://www.speakingtree.in/webp/s/180660-900-320-5-1640668558/karmanye-vadhikaraste-ma-phaleshu-kada-chana.img"
        alt="Lord Krishna"> <br>
    This message was from the Lord Krishna to Arjun during the Epic War of Mahabhaarat when Arjun was not willing to
    fight, given that he had opposite of him, all those persons he considers to be his own. Arjun says to Krishna,
    what’s the use of fighting against my own for just a piece of land. What happiness will I get by slaying my dear
    ones? The ones on the other sides are my own uncle, my cousin.
    <br>
    Then Krishna explains to him about his duties. The above verse, which is among the most famous verse in Mahabhaarat,
    is one of those explanation he has given. Let us study the context : In this case Krishna tells Arjun that no matter
    what is the result of the war, he should not be worried about it. His duty is to fight, then he has to fight. He
    wins or loses that is not important. Even if he dies during the war, he will attain heaven because he has correctly
    performed his duty.
    <br>
    Now coming to the second phrase of the above verse, Krishna also advises Arjun that he should never let the fruit be
    the purpose of his action, in this case the action is his fight and the fruit is either he wins or loses. In other
    words he is not supposed to worry about victory or defeat. Either one wins or loses, he must be neutral about it. In
    simple terms it means: Keep on performing your duties without being attached to the result of your actions.
    <br>
    We can also relate this to selflessness: When we help someone, we don’t do it for the sake of something in return,
    whether we are rewarded for our actions or not, this is not our concern. And when we help someone without worrying
    about our own gains, this is selflessness. We don’t think what are we going to get from that. The importance is that
    as a human being we have been able to help someone.
    <br>
    Note: In Bhagavad Gita, As It Is, By Swami Prabhupada, the part Ma Karma Phala Hetur Bhur means, never to consider
    ourselves to be the cause of the result of our activities.This is right too, because when we consider ourselves to
    be the cause of the result of our actions, we will be tempted to be attached to that result. So when we do something
    we are not supposed to take the credit for the fruit of our action. We consider that it is our duty, so we did it.
    <br>
</body>

</html>