*{
    margin:0;
    padding:0;
    font-family:verdana;
}

#nav-div{
    width:100%;
    height:100vh;
    background: linear-gradient(rgba(0,0,0,0), rgb(255, 255, 255));
}

nav{
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0);
    line-height: 50px;
}

nav ul{
    float: right;
    margin-right: 30px;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    transition: 0.7s all;
}

nav ul li:hover{
    background-color:#000;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    padding: 30px;
}

.navigation{
    display: flex;
    justify-content: space-between;
}
  

.background-div{
    max-width: 100%;
    
    background-size: cover;
    
}

  
.img-gradient {
    max-width: 100%; 
    width: 100%;
    margin: auto;
}
  
.img-gradient::after {
    display: block;
    position: relative;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #fff 100%);
    margin-top: -150px;
    height: 150px;
    width: 100%;
    content: '';
}


.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
}
  
.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
  
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
  
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}
  
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}
  
@media screen and (max-height: 450px) {
    .overlay {overflow-y: auto;}
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
}



.search-box {
    position: relative;
    height: 30px;
    width: 30px;
    /* background-color: black; */
    border-radius: 50%;
    cursor: pointer;
    align-items: center;
    gap: 4px;
}
  
.search-box > .fa-search {
    padding: 15px;  
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.search-box:hover > .fa-search {
    background: white;
    color: black;
}

.search-txt {
    position: absolute;
    top: 0;
    right: 35px;
    border: none;
    outline: none;
    height: 30px;
    width: 0px;
    border-radius: 5px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-size: 16px;
    transition: 0.3s width, 0.3s padding;
}
  
.search-box:hover > .search-txt{
    width: 300px;
    padding: 0 1rem 0 1rem;
}



#background {
	/* background: linear-gradient(
    -45deg,
    #FBC7D4, 
    #D939CD,
    #ee7752, 
    #F6416C, 
    #FFF6B7, 
    #e73c7e, 
    #E2D1C3,
    #00EAFF,
    #23a6d5,
    #9796F0
    ); */
    /* background: linear-gradient(
    -45deg,
    rgba(251, 199, 212, .5), 
    rgba(217, 57, 205, .5),
    rgba(238, 119, 82, .5), 
    rgba(246, 65, 108, .5), 
    rgba(255, 246, 183, .5), 
    rgba(231, 60, 126, .5), 
    rgba(226, 209, 195, .5),
    rgba(0, 234, 255, .5),
    rgba(35, 166, 213, .5),
    rgba(151, 150, 240, .5)
    ); */
    background: linear-gradient(
    -45deg,
    rgba(251, 199, 212, 1), 
    rgba(217, 57, 205, 1),
    rgba(238, 119, 82, 1), 
    rgba(246, 65, 108, 1), 
    rgba(255, 246, 183, 1), 
    rgba(231, 60, 126, 1), 
    rgba(226, 209, 195, 1),
    rgba(0, 234, 255, 1),
    rgba(35, 166, 213, 1),
    rgba(151, 150, 240, 1)
    );
	background-size: 400% 400%;
	animation: gradient 20s ease infinite;
	height: 100vh;
    font-family: sans-serif;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
    /* 10% {
		background-position: 10% 20%;
	}
    20% {
		background-position: 20% 30%;
	}
    30% {
		background-position: 30% 40%;
	}
    40% {
		background-position: 40% 50%;
	} */
	50% {
		background-position: 100% 50%;
	}
    /* 60% {
		background-position: 60% 70%;
	}
    70% {
		background-position: 70% 80%;
	}
    80% {
		background-position: 80% 80%;
	}
	90% {
		background-position: 90% 100%;
	}*/
    100% {
		background-position: 0% 50%;
	}
}

.btn-group button {
    background-color: #ffffff00;
    border: 1px solid rgb(255, 255, 255);
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
    font-weight: bolder;
  }
  
  .btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
  }
  
  /* Clear floats (clearfix hack) */
  .btn-group:after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Add a background color on hover */
  .btn-group button:hover {
    background-color: #ffffff;
    color: #000000;
  }


  .target {
    opacity: 0;
    transition: .5s ease all;
    color: #FFF;
  }

  .bottom {
    background-color: rgb(65, 91, 138);
    transform: translateY(100vw);
  }

  .target.visible {
    opacity: 1;
    transform: translateX(0);
  }