/* Main Navigation */
#nav {
    position:sticky;
    top: 0px;
    width: auto;
    margin:0 auto;
    padding: 50px;
    background-color: #2c3e50;
}


.logo{
    width: 74px;
    height: auto;
    float: left;
    background:linear-gradient(rgba(255, 248, 248, 0.5), rgba(255,255,255,0.5)), url(ola.png);
}
ul#navigation {
    margin:0px auto;
    position:relative;
    float: none;
   
}

ul#navigation li {
    display:inline;
    font-size:12px;
    font-weight: Serif;
    margin:0;
    padding:0;
    float:left;
    position:relative;
   
}
 
ul#navigation li a {
    padding:10px 25px;
    color:#f5f1f1;
    
    text-decoration:none;
    display:inline-block;
   
    background: #2c3e50;
 
    -webkit-transition:color 0.2s linear, background 0.2s linear;
    -moz-transition:color 0.2s linear, background 0.2s linear;
    -o-transition:color 0.2s linear, background 0.2s linear;
    transition:color 0.2s linear, background 0.2s linear;
}
 
ul#navigation li a:hover {
    background:#f8f8f8;
    color:#282828;
}
 
ul#navigation li a.first {
    border-left: 0 none;
}
 
ul#navigation li a.last {
    border-right: 0 none;
}
 
ul#navigation li:hover > a {
    background:#fff;
}
/* Drop-Down Navigation */
ul#navigation li:hover > ul
{

    visibility:visible;
    opacity:1;
}
 
ul#navigation ul, ul#navigation ul li ul {
    list-style: none;
    margin: 0;
    padding: 0;

    visibility:hidden;
    opacity:0;
    position: absolute;
    z-index: 99999;
    width:180px;
    background:#f8f8f8;
    box-shadow:1px 1px 3px #ccc;

    -webkit-transition:opacity 0.2s linear, visibility 0.2s linear;
    -moz-transition:opacity 0.2s linear, visibility 0.2s linear;
    -o-transition:opacity 0.2s linear, visibility 0.2s linear;
    transition:opacity 0.2s linear, visibility 0.2s linear;
}
 
ul#navigation ul {
    top: 43px;
    left: 1px;
}
 
ul#navigation ul li ul {
    top: 0;
    left: 181px; 
}
 
ul#navigation ul li {
    clear:both;
    width:100%;
    border:0 none;
    border-bottom:1px solid #c9c9c9;
}
 
ul#navigation ul li a {
    background:none;
    padding:7px 15px;
    color:#616161;
    text-shadow:1px 1px 0px #fff;
    text-decoration:none;
    display:inline-block;
    border:0 none;
    /* float: left; */
    clear:both;
    width:150px;
}
.pi{
    display:table;
    padding:auto;
    border: 1px solid black;
    position:static;
    float:center;
    background-color:rgba(232, 233, 241, 0.542);

}
.pi h3{
    font-size:25px;
}
.pol{
    font-size:15px;
   
    border:1px black;
    
}
ul.pol li a{
    padding:5px 10px;
    display:inline block;
    text-decoration:none;
}
.pol li a:hover > ul{
    background:#f8f8f8;
    color:#0e0101;
}

footer{
    position:absolute;
    
    width:100%;
    background-color: #2c3e50;
}


.ok ul {
    /* float: left; */
    display:inline-block;
   
}
.ok li{
    padding: 5px;
}
.ok ul:hover{
 
    color:#282828;
}